.DS_Store
node_modules
/dist

/backend/node_modules
/backend/.env
.prettierrc.json

# local env files
.env
.env.local
.env.*.local
package-lock.json

# Log files
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?